footer {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid #ccc; /* Adds a subtle border for separation */
  }
  
  footer hr {
    margin: 10px 0;
  }