<div class="introduction">
  <img
    id="poza-inceput"
    src="assets/PozaPortofoliu.jpeg"
    width="200"
    height="200"
  />
  <div class="text">
    <h1>Atodiresei Tudor</h1>
    <p>
      I am a proactive BENG student at the Technical University of Cluj-Napoca
      with strong academic achievements and rich volunteering experience. I have
      knowledge about computer programming in the following languages: C and
      C++. I am also part of the NTT TechTrek program.
    </p>
  </div>
</div>

<a href="assets/CV(EN) final .pdf" download>
  <button>Download CV</button>
</a>

<div class="container" id="cards-container">
  <div *ngFor="let card of cards" class="card">
    <img [src]="card.image" alt="Project Image" />
    <h3>{{ card.title }}</h3>
    <p>{{ card.description }}</p>
    <p>Technologies used: <strong>{{card.technologies}}</strong></p>
    <div class="links">
      <a [href]="card.githubLink" target="_blank" aria-label="GitHub">
        <img src="assets/icons8-github-24.png" alt="GitHub" />
      </a>
      <a [href]="card.liveLink" target="_blank" aria-label="Live Link">
        <img src="assets/icons8-link-24.png" alt="Live Link" />
      </a>
    </div>
      
  </div>
</div>
